{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ali Al Khajeh Development makes your dream come</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-2.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/style-rtl.css' %}"> -->
    <link
      rel="shortcut icon"
      href="images/New/logoIcon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="images/New/logoIcon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/eb83386641.js"
      crossorigin="anonymous"
    ></script>

    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
    <script
      src="https://kit.fontawesome.com/7ecf8dac4e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="page-wrapper">
      
      <section class="sidenav-bar">
        <div class="nav-box">
          <div class="inner-box">
            <div class="upper-box">
              <div class="btn-box">
                <button class="close-btn">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>

            <!-- .Side Nav -->
            <nav class="side-nav">
              <ul class="navigation clearfix" id="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class=""><a href="about.html">About</a></li>
                <li class="dropdown">
                  <a href="#">Projects</a>
                  <ul>
                    <li><a href="#">All Services</a></li>
                  </ul>
                </li>
                <li class=""><a href="Blog.html">Blogs</a></li>
                <li class=""><a href="jobs.html">Jobs</a></li>
                <li class=""><a href="contactUs.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>

      <header class="main-header header-style-two">
        <div class="container">
          <div class="topHeader">
            <a href="#">العربية</a>
            <a href="#" class="PhoneNumber"
              ><img src="{% static 'images/New/PhoneHeader.svg' %}" /> +201015252525</a
            >
          </div>
          <div class="HeaderCOntent">
            <div class="main-box clearfix">
              <div class="logo-box">
                <div class="logo">
                  <a href="index.html">
                    <img src="{% static 'images/New/logo.svg' %}" />
                  </a>
                </div>
              </div>

              <div class="nav-outer">
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                  <div
                    class="collapse navbar-collapse clearfix"
                    id="navbarSupportedContent"
                  >
                    <ul class="navigation clearfix">
                      <li class="current"><a href="index.html">Home</a></li>
                      <li class=""><a href="about.html">About</a></li>
                      <li class="dropdown">
                        <a href="#">Projects</a>

                        <div class="Megamenu">
                          <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                              <div class="ProjectIyemMenu">
                                <div class="ImageProject">
                                  <img src="{% static 'images/New/p_1.png' %}" />
                                </div>
                                <div class="ProjDatta">
                                  <div class="forflex">
                                    <div class="DewscoverProject">
                                      <a href="projectdetails.html"
                                        >Discover The Project
                                        <img
                                          src="{% static 'images/New/ButtonArrowWhiteRight.png' %}"
                                      /></a>
                                    </div>
                                    <div class="MorDatat">
                                      <h2>Lamar</h2>
                                      <p>
                                        Lamaara is a luxury residential
                                        project, in the best lively location
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class=""><a href="Blog.html">Blogs</a></li>
                      <li class=""><a href="jobs.html">Jobs</a></li>
                      <li class=""><a href="contactUs.html">Contact</a></li>
                    </ul>
                  </div>
                </nav>
                <!-- Main Menu End-->

                <div class="outer-box clearfix">
                  <div class="Otherlogo">
                    <div class="logo">
                      <a href="index.html">
                        <img src="{% static 'images/New/logo2.svg' %}" />
                      </a>
                    </div>
                  </div>
                  <!-- Btn box -->
                  <div class="btn-box no-touch">
                    <button class="nav-toggler"><span></span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="top-bg about"></div>

      <section class="about-us py-5">
        <div class="container">
          <div class="row g-3 align-items-center">
            <div class="col-lg-6 order-1 order-lg-0">
              <h1 class="h5 main-text fw-bold">About us</h1>
              <h2 class="h1">
                Ali AlKhajeh Real Estate Development Company, a company
                specializing in real estate development.
              </h2>

              <p class="h5">
                aims to present a new concept of investment in the Egyptian real
                estate sector, fulfilling the dreams of those seeking upscale,
                luxurious housing and modern life. In its future outlook, it
                relies on a history of experience and preserving Quality, which
                is one of the distinguished companies associated with the name
                of the Emirati lawyer and businessman Ali AlKhajeh.
              </p>
            </div>
            <div class="col-lg-6">
              <div class="intro-imgs mb-5">
                <div class="mt-4">
                  <img src="{% static 'images/devImgs/about/image.jpg' %}" alt="" />
                </div>
                <div>
                  <img src="{% static 'images/devImgs/about/image3.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="our-message py-5">
        <div class="container text-center">
          <h1 class="h5 fw-bolder mb-3">Our Message</h1>
          <h2 class="h1 fw-bold mb-3 px-md-5">
            Ali Alkhajeh Real Estate Development is keen to provide a more
            modern and advanced concept of modern housing
          </h2>
          <p class="h4">
            to be one of the strongest and most distinguished companies among
            real estate developers, and for Egypt to be at the top of the
            distinguished countries in the modern real estate industry, work to
            confirm its suitability for a regional position and global, this
            should be following the best international standards. To meet the
            aspirations of its customers by diversifying their choices in
            acquiring a unique world of luxurious and sophisticated housing,
            with styles and designs of dazzling masterpieces.
          </p>
        </div>
      </section>

      <section class="be-with-us">
        <div class="container">
          <div class="row g-3 align-items-center">
            <div class="col-md-6 mb-3">
              <div class="four-cards">
                <div class="my-card">
                  <img
                    src="https://ali-alkhajeh-developments-cms-production.up.railway.app/uploads/Mask_Group_96704_8b7b2c8465.svg"
                    alt=""
                  />
                  <h1>Innovation</h1>
                  <div class="layer">
                    <p class="h6">
                      The company devotes great attention to development and
                      innovation, providing new ideas to the real estate
                      industry, and meeting customers' ambitions.
                    </p>
                  </div>
                </div>
                <div class="my-card">
                  <img
                    src="https://ali-alkhajeh-developments-cms-production.up.railway.app/uploads/Mask_Group_96703_2166dffbed.svg"
                    alt=""
                  />
                  <h1>Creativity</h1>
                  <div class="layer">
                    <p class="h6">
                      It provides a world of creativity that creates a
                      residential environment that brings the family together
                      with modern life and the stunning beauty of enchanting
                      nature.
                    </p>
                  </div>
                </div>
                <div class="my-card">
                  <img
                    src="https://ali-alkhajeh-developments-cms-production.up.railway.app/uploads/Mask_Group_96700_7fc387e0ea.svg"
                    alt=""
                  />
                  <h1>Commitment</h1>
                  <div class="layer">
                    <p class="h6">
                      We understand that trust is built through a commitment to
                      excellence and quality in every detail of our work. We are
                      committed to fulfilling our customers’ aspirations and
                      achieving their goals with precision and professionalism.
                    </p>
                  </div>
                </div>
                <div class="my-card">
                  <img
                    src="https://ali-alkhajeh-developments-cms-production.up.railway.app/uploads/Mask_Group_96704_8b7b2c8465.svg"
                    alt=""
                  />
                  <h1>Quality and excellence</h1>
                  <div class="layer">
                    <p class="h6">
                      The company is committed to providing the highest
                      standards of quality and excellence in design,
                      construction, finishes, and all customer service around
                      the clock.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h1 class="h5 main-text">Be with us</h1>
              <h2 class="h1">We are your best choice</h2>
              <p class="h4 mb-5">
                Ali Alkhajeh Development Company works to be the best choice for
                its customers, and you are committed to making the best effort
                through multiple bridges to build confidence with each customer,
                making it the first destination for his optimal choice through
              </p>
              <div class="arrow-btn">
                <a href="#" class="btn">
                  Discover More
                  <i class="fa-solid fa-angles-right animation_12 mx-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="vision py-5">
        <div class="container">
          <div class="row g-3 align-items-center">
            <div class="col-md-8 order-1 order-lg-0"">
              <div>
                <p class="h4">
                  “Ali Al Khaja Real Estate Development Company” aspires to
                  enhance the added value of housing, raise the level of modern
                  real estate in Egypt, support, strengthen and diversify
                  investment in this vital field, create creative, sustainable
                  and inspiring breakthroughs, and create modern gatherings and
                  communities, vibrant with the splendor of life with family,
                  family and friends. It provides a real estate legacy that
                  lasts and increases in value, and takes customers to the place
                  that suits their ambitions
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex align-items-center justify-content-between">
                <h1 class="main-text">Our Vision</h1>
                <div class="v-separator">
                  <div></div>
                  <div class="bg-main"></div>
                  <div></div>
                </div>
                <div>
                  <img
                    src="{% static 'images/devImgs/about/image5.jpg' %}"
                    alt=""
                    style="width: 150px"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mission py-5">
        <div class="container">
          <div class="row g-3 align-items-center">
            <div class="col-md-4">
              <div class="d-flex align-items-center justify-content-between">
                <div>
                  <img
                    src="{% static 'images/devImgs/about/image4.jpg' %}"
                    alt=""
                    style="width: 150px"
                  />
                </div>
                <div class="v-separator mx-4">
                  <div></div>
                  <div class="bg-main"></div>
                  <div></div>
                </div>
                <h1 class="main-text">Our Mission</h1>
              </div>
            </div>
            <div class="col-md-8">
              <div>
                <p class="h4">
                  “Ali Al Khaja Real Estate Development Company” is working to
                  continue expanding its business and activities, updating its
                  capabilities, and continuous development, and presenting a
                  unique concept of real estate and housing in Egypt, through
                  high-quality residential units with the best specifications,
                  and confirming its eligibility for a leading position in real
                  estate investment, and is making every effort; To provide
                  expertise, personnel, capabilities, an inspiring environment
                  and atmosphere, to achieve more creativity and excellence in
                  providing luxury housing, and to maintain trust and a strong
                  relationship with customers.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="your-dream-home py-5">
        <div class="dream-text">
          <h1 class="fw-bold">Your Dream Home Awaits!</h1>
          <p class="h4 my-4">
            We aim to connect us with our customers with a future of trust by
            offering housing under the slogan “Your Family... Your Residence...
            Your Home”, which achieves unique living experiences and lifestyles,
            based on reviving the family spirit, enhancing value, quality and
            enjoyment of luxury, and achieving for customers tranquility,
            distinction and complete comfort through unique architectural
            designs. High-quality residential units with international
            specifications, meeting the ambitions of those seeking excellence
            and those with exquisite taste
          </p>
          <div>
            <div class="arrow-btn text-center">
              <a href="contactUs.html" class="btn">
                Contact Us
                <i class="fa-solid fa-angles-right animation_12 mx-2"></i>
              </a>
            </div>
          </div>
        </div>
      </section>

      <footer class="main-footer">
        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="auto-container">
            <div class="row">
              <!--Footer Column-->
              <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="footer-widget about-widget">
                  <h2 class="widget-title">About Us <span></span></h2>
                  <div class="text">
                    <p>
                      A specialized real estate development company aiming to
                      introduce a new concept in investment, luxurious living,
                      and modern lifestyle, relying on expertise and commitment
                      to quality.
                    </p>
                  </div>
                </div>
              </div>

              <!--Footer Column-->
              <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="footer-widget about-widget">
                  <h2 class="widget-title">Address <span></span></h2>
                  <ul class="UlLiData">
                    <li>
                      <a href="#"
                        ><i class="bx bx-map"></i
                        ><span
                          >Block 26, Division North, Area C, Upper Plateau,
                          Mokattam</span
                        ></a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <!--Footer Column-->
              <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="footer-widget about-widget">
                  <h2 class="widget-title">ContactUs <span></span></h2>
                  <ul class="UlLiData">
                    <li>
                      <a href="#"
                        ><i class="fas fa-phone"></i
                        ><span>+201015252525</span></a
                      >
                    </li>
                    <li>
                      <a href="#"
                        ><i class="bx bxs-envelope"></i
                        ><span>info@alialkhajehdevelopment.com</span></a
                      >
                    </li>
                  </ul>
                  <ul class="social-icon-two">
                    <li>
                      <a href="#"><i class="fab fa-tiktok"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
          <div class="auto-container">
            <div class="inner-container clearfix">
              <!--
                          <div class="footer-nav">
                              <ul class="clearfix">
                                 <li><a href="#">Privacy Policy</a></li> 
                                 <li><a href="#">Contact</a></li> 
                                 <li><a href="#">Supplier</a></li>  
                              </ul>
                          </div>
    -->

              <div class="copyright-text">
                <p>© Ali AlKhajeh - علي الخاجه</p>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
