{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ali Al Khajeh Development makes your dream come</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style-2.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'css/style-rtl.css' %}" /> -->
    <link
      rel="shortcut icon"
      href="images/New/logoIcon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="images/New/logoIcon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
    <script
      src="https://kit.fontawesome.com/7ecf8dac4e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      

      <!-- Sidenav Bar -->
      <section class="sidenav-bar">
        <div class="nav-box">
          <div class="inner-box">
            <div class="upper-box">
              <div class="btn-box">
                <button class="close-btn">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>

            <!-- .Side Nav -->
            <nav class="side-nav">
              <ul class="navigation clearfix" id="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class=""><a href="about.html">About</a></li>
                <li class="dropdown">
                  <a href="#">Projects</a>
                  <ul>
                    <li><a href="#">All Services</a></li>
                  </ul>
                </li>
                <li class=""><a href="Blog.html">Blogs</a></li>
                <li class=""><a href="jobs.html">Jobs</a></li>
                <li class=""><a href="contactUs.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!--End Sidenav Bar -->

      <!-- Start Main Content -->
      <main id="content">
        <!-- Main Header-->
        <header class="main-header header-style-two">
          <div class="container">
            <div class="topHeader">
              <a href="#">العربية</a>
              <a href="#" class="PhoneNumber"
                ><img src="{% static 'images/New/PhoneHeader.svg' %}" /> +201015252525</a
              >
            </div>
            <div class="HeaderCOntent">
              <div class="main-box clearfix">
                <div class="logo-box">
                  <div class="logo">
                    <a href="index.html">
                      <img src="{% static 'images/New/logo.svg' %}" />
                    </a>
                  </div>
                </div>

                <div class="nav-outer">
                  <!-- Main Menu -->
                  <nav class="main-menu navbar-expand-md navbar-light">
                    <div
                      class="collapse navbar-collapse clearfix"
                      id="navbarSupportedContent"
                    >
                      <ul class="navigation clearfix">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li class=""><a href="about.html">About</a></li>
                        <li class="dropdown">
                          <a href="#">Projects</a>

                          <div class="Megamenu">
                            <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="ProjectIyemMenu">
                                  <div class="ImageProject">
                                    <img src="{% static 'images/New/p_1.png' %}" />
                                  </div>
                                  <div class="ProjDatta">
                                    <div class="forflex">
                                      <div class="DewscoverProject">
                                        <a href="projectdetails.html"
                                          >Discover The Project
                                          <img
                                            src="{% static 'images/New/ButtonArrowWhiteRight.png' %}"
                                        /></a>
                                      </div>
                                      <div class="MorDatat">
                                        <h2>Lamar</h2>
                                        <p>
                                          Lamaara is a luxury residential
                                          project, in the best lively location
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class=""><a href="Blog.html">Blogs</a></li>
                        <li class=""><a href="jobs.html">Jobs</a></li>
                        <li class=""><a href="contactUs.html">Contact</a></li>
                      </ul>
                    </div>
                  </nav>
                  <!-- Main Menu End-->

                  <div class="outer-box clearfix">
                    <div class="Otherlogo">
                      <div class="logo">
                        <a href="index.html">
                          <img src="{% static 'images/New/logo2.svg' %}" />
                        </a>
                      </div>
                    </div>
                    <!-- Btn box -->
                    <div class="btn-box no-touch">
                      <button class="nav-toggler"><span></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!--End Main Header -->

        <!--Page Title-->
        <section
          class="page-title"
          style="background-image: url({% static 'images/New/blogHeader.png' %})"
        >
          <div class="auto-container"></div>
        </section>
        <!--End Page Title-->

        <div class="OurBlogs PlogPage">
          <div class="container">
            <div class="BlogsItems">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                  <div class="main-section mb-5">
                    <div class="section-head">
                      <img
                        src="{% static 'images/devImgs/blogdetails.webp' %}"
                        alt=""
                        class="mb-3"
                      />
                      <ul class="list-unstyled d-flex align-items-center">
                        <li class="d-flex align-items-center">
                          <i class="fa fa-user mx-2 main-text"></i>
                          <h5 class="mb-0 mt-1 fw-bold">
                            Published By <span class="main-text">Admin</span>
                          </h5>
                        </li>
                        <div class="v-line"></div>
                        <li class="d-flex align-items-center">
                          <i class="fa fa-clock mx-2 main-text"></i>
                          <h5 class="mb-0 mt-1 fw-bold">21 Dec 2023</h5>
                        </li>
                        <div class="v-line"></div>
                        <li class="d-flex align-items-center">
                          <i class="fa fa-comment mx-2 main-text"></i>
                          <h5 class="mb-0 mt-1 fw-bold">Comments</h5>
                        </li>
                      </ul>
                    </div>
                    <article class="mt-5">
                      <p class="mb-5">
                        Apartments for sale in Maadi <br />
                        Maadi is considered one of the attractive neighborhoods
                        for housing and real estate investment, as it is among
                        the best places for real estate in Greater Cairo.
                        Recently, the search for apartments for sale in Maadi
                        has increased, whether for residential or investment
                        purposes. <br />
                        If you are currently looking for ownership apartments in
                        Maadi in general, or apartments for sale in Zahraa El
                        Maadi specifically, then this article is specifically
                        directed to you. <br />
                        In this article, you will learn with us about the best
                        areas and streets of the Maadi neighborhood and the
                        features of each area in order to reach a sound and
                        correct decision before purchasing.
                      </p>
                      <p class="mb-5">
                        The best apartments for sale in Maadi <br />
                        Maadi is considered one of the most distinguished
                        neighborhoods in Cairo. This is for many reasons that
                        cannot be enumerated. Above all, it has a charming view
                        of the Nile, as it is on the eastern bank of the Nile.
                        In addition to its strategic location near vital places
                        in Cairo, it is about 10 kilometers from downtown and
                        Tahrir Square, and approximately 20 kilometers from New
                        Cairo. Therefore, we find many people searching for
                        apartments for sale in Maadi until now.
                      </p>
                      <p class="mb-5">
                        Maadi is also characterized by the density of green
                        spaces and trees. You can find greenery everywhere, and
                        you will find wide streets in it compared to other
                        neighborhoods in Cairo. Therefore, many people prefer to
                        search for a ground floor apartment with a garden for
                        sale in Maadi in order to take the initiative to
                        purchase it for more luxury. Let us not forget to talk
                        about the tranquility it enjoys, which makes it more
                        attractive than others as a place to live. This explains
                        the increased demand for ownership apartments in Maadi,
                        specifically apartments for sale in Zahraa El Maadi, as
                        it is one of the best areas in Maadi ever.
                      </p>
                      <p class="mb-5">
                        The Maadi neighborhood includes many areas that differ
                        among themselves in terms of features and
                        characteristics, as well as prices, of course. Maadi can
                        be divided into New Maadi, Old Maadi, Zahraa Maadi,
                        Degla, Maadi Barracks, Maadi Gardens, the Corniche, and
                        the Autostrad. <br />
                        The best places for apartments for sale in Maadi <br />
                        Zahraa El Maadi <br />
                        Maadi barracks <br />
                        Old Maadi <br />
                        New Maadi <br />
                        Maadi is one of the residential areas that combines the
                        availability of services, transportation and
                        transportation, as well as all the forms of luxury that
                        you could be looking for. So if you are looking for a
                        place close to all your needs, whether shopping centers,
                        social clubs, public or private schools, international
                        languages, or universities as well, then Maadi is the
                        best and most suitable place for you. <br />
                        However, you need to know carefully about the best areas
                        for apartments for sale in Maadi; To choose and compare
                        which one is suitable for your needs and the needs of
                        your family as well. Here are the best places we
                        recommend to buy in Maadi in general: <br />
                        Apartments for sale in Zahraa El Maadi <br />
                        Zahraa El Maadi is one of the best residential areas in
                        Maadi at the moment, despite it being one of the new
                        areas in the Maadi neighborhood. However, in a very
                        short time, it has become one of the attractive areas
                        for housing and real estate investment in Cairo in
                        general and Maadi in particular. <br />
                        The residential communities in Zahraa El Maadi vary
                        between medium and above-average housing, in addition to
                        luxury and high-end housing as well. 💡Zahraa El Maadi
                        includes some distinctive compounds, the most famous of
                        which is Lamara El Maadi Compound, which is considered
                        one of the projects of Ali Al Khaja Real Estate
                        Development Company in partnership and cooperation with
                        Al Nasr Housing and Development Company. <br />
                        If you are specifically looking for apartments for sale
                        in Zahraa El Maadi, the Lamara El Maadi project is a
                        very suitable option for you. Apartments for sale in
                        Maadi Barracks <br />
                        The Maadi Barracks area is one of the distinguished
                        areas, characterized by relative calm and sparse
                        population, in addition to the dense spread of trees and
                        green spaces. If you are looking for a ground floor
                        apartment with a garden for sale in Maadi that suits
                        your taste, we advise you to search in the Maadi
                        Barracks area. <br />
                        The Maadi Barracks area is also characterized by the
                        diversity of residential units that make up the urban
                        community of the neighborhood, as it includes
                        residential units in luxury towers, upscale villas, and
                        dazzling palaces as well. Apartments for sale in Old
                        Maadi <br />
                        The Old Maadi area is considered an important area in
                        Cairo, as it includes many embassies, diplomatic and
                        international bodies, and is inhabited by many
                        foreigners. <br />
                        It is distinguished by its sophisticated and luxurious
                        architectural designs that combine authenticity and
                        vitality, as it is one of the most prestigious
                        residential areas in Maadi and Cairo in general. If you
                        are looking for apartments for sale in Maadi that enjoy
                        tranquility and sophistication, Old Maadi should be a
                        primary choice. <br />
                        Old Maadi contains a variety of residential units,
                        ranging from high-end villas to apartments in low-rise
                        buildings. <br />
                        New Maadi <br />
                        New Maadi is one of the distinctive areas in which we
                        recommend buying in the Maadi neighborhood and Cairo in
                        general. New Maadi is located between Lasilki Square and
                        the highway, and near Carrefour Maadi. Therefore, it is
                        considered to be in a very strategic location. <br />
                        New Maadi is characterized by the spread of high-rise
                        buildings, and there are many headquarters of major
                        companies, led by oil companies.
                      </p>
                      <p class="mb-5">
                        The best price and the longest repayment period👀
                      </p>
                      <p class="mb-5">
                        Reserve your unit now in “Lamara Maadi” compound in the
                        heart of Zahraa El Maadi at the lowest price, highest
                        quality, and installments over the longest payment
                        period.
                      </p>

                      <p class="mb-5">
                        "Lamara Maadi"... All your needs in one place🤗
                      </p>
                      <p class="mb-5">
                        Book your residential unit now in Lamara Maadi Compound
                        before the units run out.
                      </p>

                      <ul class="list-inline social-links">
                        <li>
                          <a href="#">
                            <i class="fa fa-bell"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa-brands fa-tiktok"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa-brands fa-linkedin"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa-brands fa-x-twitter"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                          </a>
                        </li>
                      </ul>
                    </article>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="blogItem">
                        <a href="#" class="UperBox">
                          <div class="ImageBlog">
                            <img src="{% static 'images/New/blog_1.png' %}" />
                          </div>
                          <div class="BlogDate">
                            <span>21 Dec 2023</span>
                          </div>
                        </a>
                        <div class="dowenBox">
                          <div class="tititileShare">
                            <h2>Apartments for sale in Maadi</h2>
                            <div class="square-menu">
                              <div class="items-wrapper">
                                <a href="#" class="menu-item"
                                  ><span class="bx bxs-phone"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-whatsapp"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-instagram"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-twitter"></span
                                ></a>
                              </div>
                              <button class="floating-btn" type="button">
                                <i class="fa fa-share"></i>
                              </button>
                            </div>
                          </div>
                          <div class="Desc"></div>
                          <div class="ShowMore">
                            <a href="#"
                              >Show More
                              <img
                                class="animation_12"
                                src="{% static 'images/New/ButtonArrowRight.png' %}"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="blogItem">
                        <a href="#" class="UperBox">
                          <div class="ImageBlog">
                            <img src="{% static 'images/New/blog_2.png' %}" />
                          </div>
                          <div class="BlogDate">
                            <span>10 Mar 2024</span>
                          </div>
                        </a>
                        <div class="dowenBox">
                          <div class="tititileShare">
                            <h2>
                              The best places for real estate for sale in Cairo
                            </h2>
                            <div class="square-menu">
                              <div class="items-wrapper">
                                <a href="#" class="menu-item"
                                  ><span class="bx bxs-phone"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-whatsapp"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-instagram"></span
                                ></a>
                                <a href="#" class="menu-item"
                                  ><span class="bx bxl-twitter"></span
                                ></a>
                              </div>
                              <button class="floating-btn" type="button">
                                <i class="fa fa-share"></i>
                              </button>
                            </div>
                          </div>
                          <div class="Desc">
                            <p>
                              It is normal to find an increase in demand for
                              properties for sale in Cairo day after day. Who
                              among us does not have the desire to live or even
                              invest in real estate in Cairo
                            </p>
                          </div>
                          <div class="ShowMore">
                            <a href="#"
                              >Show More
                              <img
                                class="animation_12"
                                src="{% static 'images/New/ButtonArrowRight.png' %}"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  <div class="ContactSideBare fixed-area" data-offset="120">
                    <div class="iconContact">
                      <img src="{% static 'images/New/iconChat.svg' %}" />
                    </div>
                    <div class="contaxtbox">
                      <div class="boxtile">
                        <h2>Contact US</h2>
                      </div>
                      <div class="Boxform">
                        <form action="#" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="form-control"
                                  placeholder="Full Name"
                                />
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <input
                                  type="email"
                                  class="form-control"
                                  placeholder="Email"
                                />
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <textarea
                                  class="form-control"
                                  placeholder="Message"
                                ></textarea>
                              </div>
                            </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                <button
                                  type="submit"
                                  class="theme-btn btn-style-two"
                                >
                                  <span class="btn-title">Send Now</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
          <!--Widgets Section-->
          <div class="widgets-section">
            <div class="auto-container">
              <div class="row">
                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">About Us <span></span></h2>
                    <div class="text">
                      <p>
                        A specialized real estate development company aiming to
                        introduce a new concept in investment, luxurious living,
                        and modern lifestyle, relying on expertise and
                        commitment to quality.
                      </p>
                    </div>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">Address <span></span></h2>
                    <ul class="UlLiData">
                      <li>
                        <a href="#"
                          ><i class="bx bx-map"></i
                          ><span
                            >Block 26, Division North, Area C, Upper Plateau,
                            Mokattam</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">ContactUs <span></span></h2>
                    <ul class="UlLiData">
                      <li>
                        <a href="#"
                          ><i class="fas fa-phone"></i
                          ><span>+201015252525</span></a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="bx bxs-envelope"></i
                          ><span>info@alialkhajehdevelopment.com</span></a
                        >
                      </li>
                    </ul>
                    <ul class="social-icon-two">
                      <li>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Footer Bottom-->
          <div class="footer-bottom">
            <div class="auto-container">
              <div class="inner-container clearfix">
                <!--
                        <div class="footer-nav">
                            <ul class="clearfix">
                               <li><a href="#">Privacy Policy</a></li> 
                               <li><a href="#">Contact</a></li> 
                               <li><a href="#">Supplier</a></li>  
                            </ul>
                        </div>
-->

                <div class="copyright-text">
                  <p>© Ali AlKhajeh - علي الخاجه</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </main>
      <!-- End Main Content -->
    </div>

    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <!-- Social Links -->
    <div class="COntactIcons">
      <div class="square-menu">
        <div class="items-wrapper">
          <a href="#" class="menu-item"><span class="bx bxs-phone"></span></a>
          <a href="#" class="menu-item"
            ><span class="bx bxl-whatsapp"></span
          ></a>
          <a href="#" class="menu-item"><span class=""></span></a>
        </div>
        <button class="floating-btn" type="button">
          <i class="fa fa-phone-alt"></i>
        </button>
      </div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/sticky-kit.min.js' %}"></script>
  </body>
</html>
