{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ali Al Khajeh Development makes your dream come</title>
    <!-- Stylesheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="{% static 'css/style-rtl.css' %}" /> -->
    <link
      rel="shortcut icon"
      href="images/New/logoIcon.png"
      type="image/x-icon"
    />
    <link rel="icon" href="images/New/logoIcon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!--[if lt IE 9
      ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
    ><![endif]-->
    <!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
    <script
      src="https://kit.fontawesome.com/7ecf8dac4e.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      

      <!-- Sidenav Bar -->
      <section class="sidenav-bar">
        <div class="nav-box">
          <div class="inner-box">
            <div class="upper-box">
              <div class="btn-box">
                <button class="close-btn">
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </div>

            <!-- .Side Nav -->
            <nav class="side-nav">
              <ul class="navigation clearfix" id="nav">
                <li class="current"><a href="index.html">Home</a></li>
                <li class=""><a href="about.html">About</a></li>
                <li class="dropdown">
                  <a href="#">Projects</a>
                  <ul>
                    <li><a href="#">All Services</a></li>
                  </ul>
                </li>
                <li class=""><a href="Blog.html">Blogs</a></li>
                <li class=""><a href="jobs.html">Jobs</a></li>
                <li class=""><a href="contactUs.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
      <!--End Sidenav Bar -->

      <!-- Start Main Content -->
      <main id="content">
        <!-- Main Header-->
        <header class="main-header header-style-two">
          <div class="container">
            <div class="topHeader">
              <a href="#">العربية</a>
              <a href="#" class="PhoneNumber"
                ><img src="{% static 'images/New/PhoneHeader.svg' %}" /> +201015252525</a
              >
            </div>
            <div class="HeaderCOntent">
              <div class="main-box clearfix">
                <div class="logo-box">
                  <div class="logo">
                    <a href="index.html">
                      <img src="{% static 'images/New/logo.svg' %}" />
                    </a>
                  </div>
                </div>

                <div class="nav-outer">
                  <!-- Main Menu -->
                  <nav class="main-menu navbar-expand-md navbar-light">
                    <div
                      class="collapse navbar-collapse clearfix"
                      id="navbarSupportedContent"
                    >
                      <ul class="navigation clearfix">
                        <li class="current"><a href="index.html">Home</a></li>
                        <li class=""><a href="about.html">About</a></li>
                        <li class="dropdown">
                          <a href="#">Projects</a>

                          <div class="Megamenu">
                            <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="ProjectIyemMenu">
                                  <div class="ImageProject">
                                    <img src="{% static 'images/New/p_1.png' %}" />
                                  </div>
                                  <div class="ProjDatta">
                                    <div class="forflex">
                                      <div class="DewscoverProject">
                                        <a href="projectdetails.html"
                                          >Discover The Project
                                          <img
                                            src="{% static 'images/New/ButtonArrowWhiteRight.png' %}"
                                        /></a>
                                      </div>
                                      <div class="MorDatat">
                                        <h2>Lamar</h2>
                                        <p>
                                          Lamaara is a luxury residential
                                          project, in the best lively location
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class=""><a href="Blog.html">Blogs</a></li>
                        <li class=""><a href="jobs.html">Jobs</a></li>
                        <li class=""><a href="contactUs.html">Contact</a></li>
                      </ul>
                    </div>
                  </nav>
                  <!-- Main Menu End-->

                  <div class="outer-box clearfix">
                    <div class="Otherlogo">
                      <div class="logo">
                        <a href="index.html">
                          <img src="{% static 'images/New/logo2.svg' %}" />
                        </a>
                      </div>
                    </div>
                    <!-- Btn box -->
                    <div class="btn-box no-touch">
                      <button class="nav-toggler"><span></span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!--End Main Header -->

        <!--Page Title-->
        <section
          class="page-title"
          style="background-image: url({% static 'images/New/contactUsHeader.png' %})"
        >
          <div class="auto-container"></div>
        </section>
        <!--End Page Title-->

        <div class="contactUs">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="contctDtata">
                <div class="forflexx">
                  <h2>Contact us</h2>
                  <p>
                    Everything you dream of and aspire to, all your wishes for
                    your family and a bright future are embraced under one roof.
                    At our place, we promise you an experience that touches your
                    dreams
                  </p>
                  <div class="COnatcInfos">
                    <ul>
                      <li>
                        <a
                          ><img src="{% static 'images/New/Phone_Dark.svg' %}" />
                          +201015252525</a
                        >
                      </li>
                      <li>
                        <a
                          ><img src="{% static 'images/New/mail.svg' %}" />
                          ali@alialkhajeh.ae</a
                        >
                      </li>
                      <li>
                        <a
                          ><img src="{% static 'images/New/clock.svg' %}" />
                          Saturday-thursday</a
                        >
                      </li>
                      <li>
                        <a
                          ><img src="{% static 'images/New/LocationDark.svg' %}" /> Block 26,
                          Division North, Area C, Upper Plateau, Mokattam</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="contactFormCOnt">
                <h2>Contact US</h2>
                <div class="FormCOnt">
                  <form action="#" method="post">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Full Name"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <input
                            type="mail"
                            class="form-control"
                            placeholder="Email Address"
                          />
                        </div>
                      </div>

                      <div class="col-lg-12">
                        <div class="form-group">
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Phone Number"
                          />
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <textarea
                            placeholder="Message"
                            class="form-control"
                          ></textarea>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <button type="submit" class="theme-btn btn-style-two">
                            <span class="btn-title">Send Now</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="MapIframe">
          <div class="container">
            <div class="IframBox">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.729175685855!2d31.293313599999994!3d30.0159319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145839ed617af4b3%3A0x788d6d6aa3bccce9!2z2ZBBbGkgQWwgS2hhamVoIERldmVsb3BtZW50cyB8INi02LHZg9ipINi52YTZiiDYp9mE2K7Yp9is2Ycg2YTZhNiq2LfZiNmK2LEg2KfZhNi52YLYp9ix2Yo!5e0!3m2!1sen!2seg!4v1718029480436!5m2!1sen!2seg"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
          <!--Widgets Section-->
          <div class="widgets-section">
            <div class="auto-container">
              <div class="row">
                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">About Us <span></span></h2>
                    <div class="text">
                      <p>
                        A specialized real estate development company aiming to
                        introduce a new concept in investment, luxurious living,
                        and modern lifestyle, relying on expertise and
                        commitment to quality.
                      </p>
                    </div>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">Address <span></span></h2>
                    <ul class="UlLiData">
                      <li>
                        <a href="#"
                          ><i class="bx bx-map"></i
                          ><span
                            >Block 26, Division North, Area C, Upper Plateau,
                            Mokattam</span
                          ></a
                        >
                      </li>
                    </ul>
                  </div>
                </div>

                <!--Footer Column-->
                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="footer-widget about-widget">
                    <h2 class="widget-title">ContactUs <span></span></h2>
                    <ul class="UlLiData">
                      <li>
                        <a href="#"
                          ><i class="fas fa-phone"></i
                          ><span>+201015252525</span></a
                        >
                      </li>
                      <li>
                        <a href="#"
                          ><i class="bx bxs-envelope"></i
                          ><span>info@alialkhajehdevelopment.com</span></a
                        >
                      </li>
                    </ul>
                    <ul class="social-icon-two">
                      <li>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Footer Bottom-->
          <div class="footer-bottom">
            <div class="auto-container">
              <div class="inner-container clearfix">
                <!--
                        <div class="footer-nav">
                            <ul class="clearfix">
                               <li><a href="#">Privacy Policy</a></li> 
                               <li><a href="#">Contact</a></li> 
                               <li><a href="#">Supplier</a></li>  
                            </ul>
                        </div>
-->

                <div class="copyright-text">
                  <p>© Ali AlKhajeh - علي الخاجه</p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- End Footer -->
      </main>
      <!-- End Main Content -->
    </div>

    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html">
      <span class="fa fa-angle-up"></span>
    </div>

    <!-- Social Links -->
    <div class="COntactIcons">
      <div class="square-menu">
        <div class="items-wrapper">
          <a href="#" class="menu-item"><span class="bx bxs-phone"></span></a>
          <a href="#" class="menu-item"
            ><span class="bx bxl-whatsapp"></span
          ></a>
          <a href="#" class="menu-item"><span class=""></span></a>
        </div>
        <button class="floating-btn" type="button">
          <i class="fa fa-phone-alt"></i>
        </button>
      </div>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
